version: "3.9"
services:
  athena-web:
    build: .
    image: athena-web:dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev


